:root{
    /* --grey:#f5f5f5; */
    --black:#1d1d1d;
    --grey:#e2e2e2;
  }

h1 , p{
    margin:0;
    padding:0;
}
.section-1{
      width:100%;
      background-color:var(--black);
}
.section-1 .intro-container{
 display: flex;
 flex-direction:row;
 justify-content: space-between;
 align-items:center;   
 padding-top: 4rem;
 height: 43rem;
}
.section-1 .intro-container .text-container{
display: flex;
 flex-direction:column;
 margin-left: 3rem;
 flex-basis: 50%;
}
.section-1 .intro-container .text-container h1{
    font-size: 80px;
    color:white;
    font-weight:500;
    font-family:"Medium";
    letter-spacing:-2px;
    /* opacity:0.8; */
    max-width: 30rem;
    line-height: 80px;
}
.section-1 .intro-container .text-container .summary-text-container{
    margin:2rem 0rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.section-1 .intro-container .text-container .summary-text-container .scroll-container{
    margin:1rem 0rem;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}
.section-1 .intro-container .text-container .summary-text-container .scroll-container .divider{
    display: block;
    width: 2px;
    height: 150px;
    margin:5px auto;
    border-radius: 5px;
    background-color:white;
    opacity:0.5;
    transition: all 0.3s ease-in;
}
.section-1 .intro-container .text-container .summary-text-container .scroll-container p{
    font-size: 16px;
    color:white;
    font-weight:700;
    opacity:0.9;
    padding-left: 40px;
    font-family:"Medium";
}
.section-1 .intro-container .text-container .summary-text-container .summary-text p{
    font-size: 15px;
    color:white;
    font-weight:600;
    line-height:24px;
    opacity:0.6;
    max-width: 24rem;
    padding-right: 15px;
    font-family:"Regular";
    letter-spacing:0.5px;
}
.section-1 .intro-container .bg-img-container{
    width: 100%;    
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-basis: 50%;
}
.section-1 .intro-container .bg-img-container .bg-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.section-1 .overlay-container{
    position: relative;
}
.section-1 .overlay-container .overlay-img{
    position: absolute;
    width: 220px;
    height: 220px;
    object-fit: cover;
    bottom:10rem;
    /* left:40rem;  */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:2px;
}

/* section 2 */
.section-2{
    width:100%;
    background-color:var(--grey);
}
.section-2 .works-container{
    padding: 10rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.works-list-container{
    margin: 2rem 1rem;
    flex-basis: 55%;
    padding-right: 30px;
}
.works-list-container .works-item{
    margin: 4rem 0rem;
}
.works-list-container .works-item .heading{
    font-size: 40px;
    color:var(--black);
    font-weight:700;
    letter-spacing:-0.2px;
    padding: 20px 0px;
    font-family:"Medium";
}
.works-list-container .works-item .works-item-content{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:center;
}
.works-list-container .works-item .works-item-content h1{
    font-size: 14px;
    font-weight:700;
    color: rgb(173, 173, 173);
    max-width: 40rem;
    flex-basis: 40%;
    line-height: 25px;
    letter-spacing:0.5px;
    text-transform: uppercase;
    font-family:"Medium";
}
.works-list-container .works-item .works-item-content p{
    font-size: 15px;
    font-weight:600;
    color: rgb(129, 129, 129);
    /* max-width: 70rem; */
    flex-basis: 60%;
    line-height: 25px;
    letter-spacing:0.5px;
    font-family:"Light";
}
.works-list-container .works-item .item-divider {
    display: block;
    width: 100%;
    height: 1px;
    margin:30px auto;
    border-radius: 5px;
    background-color:rgb(104, 104, 104);
    opacity:0.5;
    transition: all 0.3s ease-in;
}
.section-2 .works-container .works-summary{
    flex-basis: 45%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 40px;
}
.section-2 .works-container .works-summary h1{
    font-size: 80px;
    font-weight:500;
   letter-spacing:-1px;
   margin-bottom:3rem;
   line-height:70px;
   font-family: "Medium";
}
.section-2 .works-container  .works-summary p{
    font-size: 15px;
    font-weight:600;
    color: rgb(129, 129, 129);
    margin-bottom:5rem;
    max-width: 24rem;
    line-height:25px;
    font-family: "Light";
    letter-spacing:0.5px;
}
.section-2 .works-container  .works-summary .bg-img-container{
    width: 100%;    
    height:630px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.section-2 .works-container  .works-summary .bg-img-container .bg-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
/* section 3 */
.section-3{
    width: 100%;
    background-color: white;
}
.section-3 .text-container{
    display: flex;
    justify-content:space-between;
    /* align-items:center; */
    flex-direction: row;
    margin:8rem 6rem;
}
.section-3 .text-container h1{
    font-size: 80px;
    font-weight:400;
   letter-spacing:-2px;
   max-width: 39rem;
   line-height:90px;
   font-family: "Regular";
}
.section-3 .text-container .text-p {
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin-bottom: 3rem;
}
.section-3 .text-container .text-p p{
    font-size: 16px;
    font-weight:600;
    color: rgb(104, 104, 104);
    max-width: 30rem;
    line-height:28px;
    text-align: justify;
    letter-spacing: 0.5px;
    font-family: "Light";
}

/* section 4 */
.section-4{
    width: 100%;
    /* background-color:var(--grey); */
}
.section-4 .text-container{
    margin:4rem 15rem;
    display: flex;
    justify-content:center;
    /* align-items:center; */
    flex-direction: column;
}
.section-4 .text-container .item-container{
    margin: 4rem 0rem;
}
.section-4 .text-container .item-container .item{
    display: flex;
    justify-content:center;
    /* align-items:center; */
    flex-direction: column;
}
.section-4 .text-container .item-container .item .content-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 1.2rem;
    padding: 0rem 7rem;
}
.section-4 .text-container .item-container .item .content-container .date{
    font-size: 15px;
    font-weight:600;
    color: rgb(104, 104, 104); 
    letter-spacing:-0.5px;
    font-family: "Light";
    letter-spacing: 0.5px;
}

.section-4 .text-container .item-container .item .content-container p{
    font-size: 30px;
    font-weight:500;
   letter-spacing:-1px;
   max-width: 28rem;
   line-height:30px;
   font-family: "Regular";
   margin-top: 15px;
}
.section-4 .text-container .item-container .item .content-container .arrow-container {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--black);
    transition:300ms all ease-in;
    cursor: pointer;
}
.section-4 .text-container .item-container .item .content-container .arrow-container:hover{
    transition:280ms all ease-in;
    transform: translateX(8px);
}
.section-4 .text-container .item-container .item .content-container .arrow-container .arrow{
    color: white;
}
.section-4 .text-container .item-container .item .content-divider{
    /* display: block; */
    width: 100%;
    height: 2px;
    margin:30px auto;
    border-radius: 5px;
    background-color:rgb(104, 104, 104);
    opacity:0.5;
    transition: all 0.3s ease-in;
}
/* section 5 */
.section-5{
    background-color:var(--black);
}
.section-5 .text-container{
    margin:0rem 0em;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 10rem 6rem;
}
.section-5 .text-container .heading-text{
    padding-right:3rem;
    flex-basis: 50%;
}
.section-5 .text-container .heading-text .first{
    font-size: 80px;
    font-weight:500;
   letter-spacing:-2px;
   line-height:80px;
   color:white;
   opacity:0.9;
   text-align: left;
   font-family: "Regular";
}
.section-5 .text-container .heading-text .second{
    font-size: 80px;
    font-weight:500;
   letter-spacing:-2px;
   line-height:80px;
   color:white;
   opacity:0.9;
   text-align: right;
   font-family: "Regular";
}
.section-5 .text-container .summary-text{
    display:flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-basis: 50%;
    padding-left: 4rem;
}
.section-5 .text-container .summary-text p{
    font-size: 16px;
    color:white;
    font-weight:600;
    opacity:0.6;
    max-width: 34rem;
    line-height:28px;
    font-family: "Regular";
    letter-spacing:0.5px;
    
}

/* our projects */
.our-projects{
    background-color:var(--black); 
}
.our-projects .text-container{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 6rem 4rem;
}
.our-projects .text-container .heading-container{
    flex-basis: 70%;
}
.our-projects .text-container .heading-container h1{
    font-size: 80px;
    font-weight:500;
   letter-spacing:-2px;
   line-height:80px;
   color:white;
   font-family: "Medium";
}
.our-projects .text-container .heading-container p{
    font-size: 16px;
    color:white;
    font-weight:600;
    opacity:0.5;
    max-width: 38rem;
    line-height:28px;
    margin-top: 2rem;
    letter-spacing:0.5;
    font-family: "Light";
}
.our-projects .text-container .summary-container {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-start;
    margin-top: 2rem;
    flex-basis: 30%;
}
.our-projects .text-container .summary-container h1{
    font-size: 50px;
    font-weight:400;
   letter-spacing:3px;
   line-height:80px;
   color:white;
   opacity:0.4;
   font-family: "Regular";
}
.our-projects .text-container .summary-container p{
    font-size: 15px;
    font-weight:600;
   line-height:28px;
   color:white;
   opacity:0.4;
   max-width: 15rem;
   letter-spacing:0.5px;
   font-family: "Light";
}
.our-projects .projects-container::-webkit-scrollbar{
    display: none;
  }

.our-projects .projects-container{
    padding: 2rem 4rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: row;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 

}
.our-projects .projects-container .project-item{
    padding-right: 3rem;
    padding-bottom: 6rem;
}
.our-projects .projects-container .project-item .project-img{
    width: 450px;
    height:350px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.our-projects .projects-container .project-item .project-img .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-projects .projects-container .project-item .project-heading{
    margin-top: 2rem;
}
.our-projects .projects-container .project-item .project-heading h1{
    font-size: 50px;
    font-weight:400;
   letter-spacing:0.6px;
   line-height:30px;
   color:white;
   margin-bottom: 20px;
   font-family: "Regular";
}
.our-projects .projects-container .project-item .project-heading p{
    font-size: 15px;
    font-weight:500;
   letter-spacing:0.5px;
   line-height:30px;
   color:white;
   opacity: 0.6;
   max-width: 26rem;
   font-family: "Regular";
}
/* abouut us */
.about-us{
background-color:var(--grey);
}
.about-us .about-heading{
    padding-top:8rem;
    padding-bottom:2rem;
    padding-left:6rem;
    padding-right:10rem;
}
.about-us .about-heading h1{
    font-size: 80px;
    font-weight:400;
   letter-spacing:-5px;
   line-height:95px;
   color:var(--black);
   font-family: "Regular";
}
.about-us .row-container{
    display: flex;
    justify-content:flex-start;
    /* align-items:center; */
    flex-direction: row;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.about-us .row-container .text-container{
    flex-basis: 50%;
}
.about-us .row-container .text-container .heading {
    width: 100%;
    margin: 3rem 3rem;
}
.about-us .row-container .text-container .heading .left{
    font-size: 40px;
    font-weight:600;
   letter-spacing:-0.2px;
   line-height:52px;
   color:var(--black);
   text-align:left;
   padding-bottom: 10px;
   font-family: "Medium";
}
.about-us .row-container .text-container .heading .right{
    font-size: 40px;
    font-weight:600;
   letter-spacing:-0.2px;
   line-height:52px;
   color:var(--black);
   text-align:right;
   padding-bottom: 10px;
   padding-right: 60px;
   font-family: "Medium";
}
.about-us .row-container .text-container .summary{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0rem 6rem;
}
.about-us .row-container .text-container .summary p{
    font-size: 15px;
    /* font-weight:600; */
   letter-spacing:-0.2px;
   line-height:30px;
   color: rgb(104, 104, 104); 
   font-family: "Medium";
}
.about-us .row-container .image{
    width: 300px;
    height:280px;
    display: flex;
    justify-content:center;
    align-items:center;
    margin:6rem 0rem;
}
.about-us .row-container .image .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us .row-container .image-container{
    flex-basis: 50%;
    width:400px;
    height: 800px;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 4rem;
}
.about-us .row-container .image-container .img{
    width:100%;
    height: 100%;
    object-fit: cover;
}