
h1 , p{
    margin:0;
    padding:0;
}
.footer{
    background-color: var(--black);
}
.footer-container{
    padding:0rem 6rem;
}
.footer .footer-container .footer-links{
display:flex;
flex-direction:row;
justify-content:space-between;
}
.footer .footer-container .footer-links .info{
    flex-basis: 40%;
}
.footer .footer-container .footer-links .info h1{
    font-size: 34px;
    font-weight:700;
    color:white;
    letter-spacing:-2px;
    /* opacity: 0.7; */
}
.footer .footer-container .footer-links .info .socials{
    padding-top: 35px;
}
.footer .footer-container .footer-links .info .socials ul{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    list-style: none;
    align-items:flex-start;
}
.footer .footer-container .footer-links .info .socials ul li{
    padding-right: 35px;
    

}
/* .footer .footer-container .footer-links .info .socials ul li .bg{
     width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;  
} */
.footer .footer-container .footer-links .info .socials ul li .icon{
    color: white;
    opacity: 0.6; 
    transition:250ms all ease-in; 
}
.footer .footer-container .footer-links .info .socials ul li .icon:hover{
    opacity: 0.8;  
    transition:250ms all ease-in;
}
.footer .footer-container .footer-links .links-container{
    flex-basis: 60%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.footer .footer-container .footer-links .links-container .item h1{
    font-size: 24px;
    font-weight:700;
    color:white;
    opacity: 0.3;
}
.footer .footer-container .footer-links .links-container .item .active-links{
    display:flex;
    flex-direction:column;
    padding-top: 35px;
    padding-bottom: 30px;
}
.footer .footer-container .footer-links .links-container .item .active-links a{
    font-size: 15px;
    font-weight:600;
    color:white;
    opacity: 0.3;
    padding-bottom: 24px;
    text-decoration: none;
    letter-spacing:-0.4px;
    transition:250ms all ease-in;
}
.footer .footer-container .footer-links .links-container .item .active-links a:hover{
    transition:250ms all ease-in;
    /* transform:translateX(5px) */
    text-decoration: underline;
}
.footer .footer-container .footer-links .links-container .item .active-links p{
    font-size: 16px;
    font-weight:600;
    color:white;
    opacity: 0.7;
    padding-bottom: 18px;
}
.footer .footer-container .divider{
    width: 100%;
    height: 1.5px;
    margin:30px auto;
    border-radius: 5px;
    background-color:black;
    opacity:0.5;
    transition: all 0.3s ease-in;
}
.footer .footer-container .copyright p{
   text-align: center;
    font-size: 15px;
    font-weight:600;
    color:white;
    opacity: 0.3;
    padding-bottom: 18px;
    text-decoration: none;
    letter-spacing:-0.4px;
    padding: 20px;
}
.footer .footer-container .copyright .company-name{
   color: var(--grey);
    letter-spacing:-0.8px;
}